name: Java CI with Gradle

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '18'
          distribution: 'temurin'
          cache: gradle
      - name: Build with Gradle
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        #        env:
        #          repo-name: ${{ secrets.SITE_PUSH_REPO_NAME }}
        with:
          gradle-version: 7.5.1
          #          repo-name: ${{ secrets.SITE_PUSH_REPO_NAME }}
          #          arguments: build -x :codes:check -x :code:assemble -x :codes:build -Psite_push_repo_name= -Psite_push_repo_url=  -Psite_push_repo_username= -Psite_push_repo_password=
#          arguments: :displayParam -q -Psite_push_repo_name=${{ repo-name }}
          arguments: :displayParam -q